.radio-group-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.radio-group-label {
  padding-bottom: 30px;
}

.card {
  height: 150px;
  width: 200px;
  position: relative;
}

.radio-input {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  box-shadow: 7px 7px 15px rgba(2, 28, 53, 0.08);
  cursor: pointer;
  outline: none;
}

.radio-input:before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  background-color: #f9fafd;
  border: 1px solid #e2e6f3;
  border-radius: 50%;
  top: 50px;
  right: 20px;
}

.radio-input:after {
  content: "";
  position: absolute;
  height: 13px;
  width: 13px;
  background-color: transparent;
  border-radius: 50%;
  top: 54.2px;
  right: 25.5px;
}

.label {
  position: absolute;
  margin: 60px;
  cursor: pointer;
  font-size: 30px;
}

.radio-input:hover {
  transform: scale(1.05);
}

.radio-input:checked {
  border: 3px solid #000000;
}

.radio-input:checked:after {
  background-color: #000000;
}
